$text-color: white;
$back-ground-color: #2364aa;

.footer {
  display: flex;
  height: 50px;
  padding: 0 15%;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  background-color: $back-ground-color;
  background-image: url(../../images/background.jpg);
  background-size: cover;

  & a {
    color: inherit;
    text-decoration: none;
  }
}
