$text-color: white;
$back-ground-color: #2364aa;

.header {
  background-color: $back-ground-color;
  background-image: url(../../images/background.jpg);
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    color: $text-color;

    margin: 0;
    padding: 1.5rem;
    text-align: center;
  }
}
