.main {
  box-sizing: border-box;
  min-height: calc(100vh - 150px);
  padding: 4rem 15%;

  @media (max-width: 700px) {
    padding: 4rem 2rem;
  }

  @media (max-width: 520px) {
    padding: 1rem 0.5rem;
  }
}
