.search {
  position: relative;
  display: flex;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.5rem;
    width: 2em;
    height: 2em;
    transform: translateY(-50%);
    background-image: url('001-search.svg');
    @media (max-width: 520px) {
      display: none;
    }
  }

  &__input {
    flex: 1 1 100%;
    width: 100%;
    padding: 0.25rem 3rem 0.25rem;
    outline-color: black;
    @media (max-width: 520px) {
      padding-left: 0.5rem;
    }
  }

  &__controls {
    position: relative;
  }

  &__control {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: transparent;
    background-size: cover;
    border: none;

    &--clear {
      outline: none;
      top: 0.1rem;
      left: -2.5em;
      background-image: url('./002-close.svg');

      @media (max-width: 520px) {
        display: none;
      }
    }
  }
}
