$button-padding: 0.5rem 1rem;
$font-size: 18px;

.button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2364aa;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #3da5d9;
  }
}
